In [66]:
import pandas as pd
import numpy as np

In [67]:
train = pd.read_csv(r"concat_df.csv")
test = pd.read_csv(r"concat_test_df.csv")

In [68]:
train.head()

,기준년월,ID,연령,Segment,회원여부_이용가능,소지여부_신용,회원여부_연체,입회일자_신용,거주시도명,직장시도명,...,컨택건수_채권_R6M,컨택건수_FDS_R6M,증감율_이용건수_신용_분기,증감율_이용건수_체크_분기,증감율_이용금액_신용_분기,증감율_이용금액_체크_분기,잔액_신판최대한도소진율_r6m,변동률_잔액_B1M,변동률_잔액_일시불_B1M,혜택수혜율_R3M
0,201807,TRAIN_000000,40대,D,1,1,0,20130101,서울,서울,...,0,0,-0.476453,-1.999996,-0.411320,-1.999996,0.195234,0.261886,0.270752,1.044401
1,201807,TRAIN_000001,30대,E,1,1,0,20170801,경기,경기,...,0,0,0.226240,0.000000,0.552668,0.000000,0.879238,-0.563388,-0.670348,0.000000
2,201807,TRAIN_000002,30대,C,1,1,0,20080401,서울,서울,...,0,0,0.158594,0.000000,0.210878,0.000000,0.342428,-0.046516,0.058114,0.524159
3,201807,TRAIN_000003,40대,D,1,1,0,20160501,부산,부산,...,0,0,0.120484,0.000000,0.081997,0.000000,0.456903,0.023821,0.258943,0.880925
4,201807,TRAIN_000004,40대,E,1,1,0,20180601,광주,광주,...,0,0,-1.999996,-0.404712,-1.999996,-0.398877,0.000000,0.000000,0.000000,NaN

In [69]:
test.head(3)

,기준년월,ID,연령,회원여부_이용가능,소지여부_신용,회원여부_연체,입회일자_신용,거주시도명,직장시도명,탈회횟수_누적,...,컨택건수_채권_R6M,컨택건수_FDS_R6M,증감율_이용건수_신용_분기,증감율_이용건수_체크_분기,증감율_이용금액_신용_분기,증감율_이용금액_체크_분기,잔액_신판최대한도소진율_r6m,변동률_잔액_B1M,변동률_잔액_일시불_B1M,혜택수혜율_R3M
0,201807,TEST_00000,40대,1,1,0,20140501,경기,경기,1,...,0,0,1.205200,0.000000,1.211333,0.000000,0.152151,0.209395,0.231043,1.332770
1,201807,TEST_00001,60대,1,1,0,20160201,인천,인천,2,...,0,0,2.714817,-0.083033,0.719314,-0.079054,0.193562,-0.269161,-0.247241,0.000000
2,201807,TEST_00002,40대,1,1,0,20180301,경기,경기,2,...,0,0,0.346043,0.000000,0.049106,0.000000,0.213651,-0.120290,0.029270,4.123738

In [70]:
train.dtypes.value_counts()

int64      60
object     16
float64    12
Name: count, dtype: int64

In [71]:
train.loc[:, train.dtypes == 'float64']

,최종카드발급일자,이자율요약,RV전환가능여부,연체일자_B0M,증감율_이용건수_신용_분기,증감율_이용건수_체크_분기,증감율_이용금액_신용_분기,증감율_이용금액_체크_분기,잔액_신판최대한도소진율_r6m,변동률_잔액_B1M,변동률_잔액_일시불_B1M,혜택수혜율_R3M
0,20160912.0,4.645763,0.0,NaN,-0.476453,-1.999996,-0.411320,-1.999996,0.195234,0.261886,0.270752,1.044401
1,20170122.0,-0.648165,1.0,NaN,0.226240,0.000000,0.552668,0.000000,0.879238,-0.563388,-0.670348,0.000000
2,20161113.0,4.342563,0.0,NaN,0.158594,0.000000,0.210878,0.000000,0.342428,-0.046516,0.058114,0.524159
3,20170205.0,6.260410,0.0,NaN,0.120484,0.000000,0.081997,0.000000,0.456903,0.023821,0.258943,0.880925
4,20170409.0,-1.928627,1.0,NaN,-1.999996,-0.404712,-1.999996,-0.398877,0.000000,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,20150902.0,-1.079906,1.0,NaN,0.000000,-0.105145,0.000000,-0.045495,0.021460,0.000000,0.000000,NaN
2399996,20161201.0,-0.382982,1.0,NaN,-0.679340,0.000000,-0.792478,0.000000,0.165374,-0.203251,-0.159143,1.377071
2399997,20170609.0,1.466786,0.0,NaN,-0.271198,0.000000,0.042752,0.000000,0.183969,0.027319,0.126581,0.000000
2399998,20160928.0,-1.144042,1.0,NaN,0.000000,0.000000,0.000000,0.000000,0.010100,0.000000,0.000000,NaN
2399999,20170608.0,-0.371724,1.0,NaN,0.319522,0.000000,0.287903,0.000000,0.051233,-0.039845,-0.002659,0.000000

In [72]:
# 겹치는 컬럼 삭제
train = train.drop(['직장시도명','입회일자_신용','최종카드발급일자','대표청구서수령지구분코드','연체일자_B0M'],axis=1)
test = test.drop(['직장시도명','입회일자_신용','최종카드발급일자','대표청구서수령지구분코드','연체일자_B0M'],axis=1)

In [73]:
train.head(3)

,기준년월,ID,연령,Segment,회원여부_이용가능,소지여부_신용,회원여부_연체,거주시도명,탈회횟수_누적,_1순위카드이용금액,...,컨택건수_채권_R6M,컨택건수_FDS_R6M,증감율_이용건수_신용_분기,증감율_이용건수_체크_분기,증감율_이용금액_신용_분기,증감율_이용금액_체크_분기,잔액_신판최대한도소진율_r6m,변동률_잔액_B1M,변동률_잔액_일시불_B1M,혜택수혜율_R3M
0,201807,TRAIN_000000,40대,D,1,1,0,서울,1,3681,...,0,0,-0.476453,-1.999996,-0.411320,-1.999996,0.195234,0.261886,0.270752,1.044401
1,201807,TRAIN_000001,30대,E,1,1,0,경기,1,13323,...,0,0,0.226240,0.000000,0.552668,0.000000,0.879238,-0.563388,-0.670348,0.000000
2,201807,TRAIN_000002,30대,C,1,1,0,서울,1,24493,...,0,0,0.158594,0.000000,0.210878,0.000000,0.342428,-0.046516,0.058114,0.524159

In [74]:
test.head(3)

,기준년월,ID,연령,회원여부_이용가능,소지여부_신용,회원여부_연체,거주시도명,탈회횟수_누적,_1순위카드이용금액,_2순위카드이용금액,...,컨택건수_채권_R6M,컨택건수_FDS_R6M,증감율_이용건수_신용_분기,증감율_이용건수_체크_분기,증감율_이용금액_신용_분기,증감율_이용금액_체크_분기,잔액_신판최대한도소진율_r6m,변동률_잔액_B1M,변동률_잔액_일시불_B1M,혜택수혜율_R3M
0,201807,TEST_00000,40대,1,1,0,경기,1,13852,6021,...,0,0,1.205200,0.000000,1.211333,0.000000,0.152151,0.209395,0.231043,1.332770
1,201807,TEST_00001,60대,1,1,0,인천,2,11065,0,...,0,0,2.714817,-0.083033,0.719314,-0.079054,0.193562,-0.269161,-0.247241,0.000000
2,201807,TEST_00002,40대,1,1,0,경기,2,27071,10704,...,0,0,0.346043,0.000000,0.049106,0.000000,0.213651,-0.120290,0.029270,4.123738

In [75]:
# 수치형 데이터만 뽑기
numeric_train_data = train.select_dtypes(include=[np.number])
numeric_test_data = test.select_dtypes(include=[np.number])

In [76]:
# 범주형 데이터만 뽑기
categorical_train_data = train.select_dtypes(include='object')
categorical_test_data = test.select_dtypes(include='object')

In [77]:
numeric_train_data

,기준년월,회원여부_이용가능,소지여부_신용,회원여부_연체,탈회횟수_누적,_1순위카드이용금액,_2순위카드이용금액,이용여부_3M_해외겸용_본인,이용여부_3M_해외겸용_신용_본인,카드신청건수,...,컨택건수_채권_R6M,컨택건수_FDS_R6M,증감율_이용건수_신용_분기,증감율_이용건수_체크_분기,증감율_이용금액_신용_분기,증감율_이용금액_체크_분기,잔액_신판최대한도소진율_r6m,변동률_잔액_B1M,변동률_잔액_일시불_B1M,혜택수혜율_R3M
0,201807,1,1,0,1,3681,0,0,0,0,...,0,0,-0.476453,-1.999996,-0.411320,-1.999996,0.195234,0.261886,0.270752,1.044401
1,201807,1,1,0,1,13323,0,0,0,0,...,0,0,0.226240,0.000000,0.552668,0.000000,0.879238,-0.563388,-0.670348,0.000000
2,201807,1,1,0,1,24493,0,0,0,0,...,0,0,0.158594,0.000000,0.210878,0.000000,0.342428,-0.046516,0.058114,0.524159
3,201807,1,1,0,1,5933,0,1,1,1,...,0,0,0.120484,0.000000,0.081997,0.000000,0.456903,0.023821,0.258943,0.880925
4,201807,1,1,0,1,0,0,1,0,1,...,0,0,-1.999996,-0.404712,-1.999996,-0.398877,0.000000,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,1,1,0,0,5640,0,1,0,0,...,0,0,0.000000,-0.105145,0.000000,-0.045495,0.021460,0.000000,0.000000,NaN
2399996,201812,1,1,0,1,26357,0,1,1,0,...,0,0,-0.679340,0.000000,-0.792478,0.000000,0.165374,-0.203251,-0.159143,1.377071
2399997,201812,1,1,0,0,17171,0,1,1,0,...,0,0,-0.271198,0.000000,0.042752,0.000000,0.183969,0.027319,0.126581,0.000000
2399998,201812,1,1,0,0,0,0,0,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.010100,0.000000,0.000000,NaN
2399999,201812,1,1,0,0,6984,14564,0,0,0,...,0,0,0.319522,0.000000,0.287903,0.000000,0.051233,-0.039845,-0.002659,0.000000

In [78]:
categorical_train_data

,ID,연령,Segment,거주시도명,_1순위신용체크구분,_2순위신용체크구분,Life_Stage,자발한도감액횟수_R12M,한도증액횟수_R12M,한도심사요청건수,대표결제방법코드,대표청구지고객주소구분코드,청구서수령방법,할인건수_R3M
0,TRAIN_000000,40대,D,서울,신용,체크,자녀성장(2),0회,0회,0회,자동이체,미확인,문자메세지,1회 이상
1,TRAIN_000001,30대,E,경기,신용,NaN,자녀성장(1),0회,0회,0회,자동이체,주거지,우편,1회 이상
2,TRAIN_000002,30대,C,서울,신용,체크,자녀출산기,0회,0회,0회,자동이체,미확인,이메일,1회 이상
3,TRAIN_000003,40대,D,부산,신용,체크,자녀성장(2),0회,0회,0회,자동이체,주거지,우편,1회 이상
4,TRAIN_000004,40대,E,광주,신용,체크,자녀성장(1),0회,0회,0회,자동이체,주거지,우편,1회 이상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,70대이상,E,울산,신용,체크,노년생활,0회,0회,0회,자동이체,주거지,우편,1회 이상
2399996,TRAIN_399996,50대,D,인천,신용,NaN,자녀성장(2),0회,1회이상,0회,자동이체,미확인,이메일,1회 이상
2399997,TRAIN_399997,30대,C,서울,신용,NaN,자녀출산기,0회,0회,0회,자동이체,회사,우편,1회 이상
2399998,TRAIN_399998,40대,E,부산,신용,NaN,자녀성장(1),0회,0회,0회,자동이체,주거지,우편,1회 이상
2399999,TRAIN_399999,40대,E,경북,신용,신용,자녀성장(1),0회,1회이상,0회,자동이체,주거지,우편,1회 이상

In [ ]:
# 수치형 컬럼 결측치 처리 ( 중앙값 대체 )
numeric_train_data.columns[numeric_train_data.isnull().any()].tolist()
numeric_test_data.columns[numeric_train_data.isnull().any()].tolist()

['혜택수혜율_R3M']

In [88]:
train['혜택수혜율_R3M']

0          1.044401
1          0.000000
2          0.524159
3          0.880925
4          0.761199
             ...
2399995    0.761199
2399996    1.377071
2399997    0.000000
2399998    0.761199
2399999    0.000000
Name: 혜택수혜율_R3M, Length: 2400000, dtype: float64

In [92]:
train['혜택수혜율_R3M'] = train['혜택수혜율_R3M'].fillna(train['혜택수혜율_R3M'].median())
test['혜택수혜율_R3M'] = test['혜택수혜율_R3M'].fillna(test['혜택수혜율_R3M'].median())

In [96]:
# 범주형 데이터 결측치 처리 ( 최빈값 대체 )
categorical_train_data.columns[categorical_train_data.isnull().any()].tolist()
categorical_test_data.columns[categorical_test_data.isnull().any()].tolist()

['_1순위신용체크구분', '_2순위신용체크구분']

In [106]:
# train 데이터프레임의 결측값을 최빈값으로 대체
for column in train.columns:
    if train[column].isnull().any():
        train[column] = train[column].fillna(train[column].mode()[0])

# test 데이터프레임의 결측값을 최빈값으로 대체
for column in test.columns:
    if test[column].isnull().any():
        test[column] = test[column].fillna(test[column].mode()[0])

In [ ]:
# 다시 입력시키기
categorical_train_data = train.select_dtypes(include='object')
categorical_test_data = test.select_dtypes(include='object')

numeric_train_data = train.select_dtypes(include=[np.number])
numeric_test_data = test.select_dtypes(include=[np.number])

In [112]:
# Robust Scale 적용
from sklearn.preprocessing import RobustScaler

Rb = RobustScaler()
Rb.fit(numeric_train_data)
Rb.transform(numeric_train_data)
Rb.transform(numeric_test_data)

array([[-8.33333333e-01,  0.00000000e+00,  0.00000000e+00, ...,
         1.92505134e+00,  2.34077609e+00,  3.14198079e-01],
       [-8.33333333e-01,  0.00000000e+00,  0.00000000e+00, ...,
        -2.47449930e+00, -2.50489098e+00, -4.18438558e-01],
       [-8.33333333e-01,  0.00000000e+00,  0.00000000e+00, ...,
        -1.10586994e+00,  2.96542136e-01,  1.84842052e+00],
       ...,
       [ 8.33333333e-01,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  2.38257968e-03],
       [ 8.33333333e-01,  0.00000000e+00,  0.00000000e+00, ...,
        -3.50757827e-01, -1.07535968e+00, -5.51209948e-01],
       [ 8.33333333e-01,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00, -4.18438558e-01]])

In [113]:
# 라벨인코딩
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

# train 데이터프레임의 범주형 데이터에 대해 라벨 인코딩
for column in categorical_train_data.columns:
    categorical_train_data[column] = label_encoder.fit_transform(categorical_train_data[column])

# test 데이터프레임의 범주형 데이터에 대해 라벨 인코딩
for column in categorical_test_data.columns:
    categorical_test_data[column] = label_encoder.fit_transform(categorical_test_data[column])

In [ ]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, accuracy_score
import matplotlib.pyplot as plt

# 1) 피처 합치기
X_train = pd.concat([numeric_train_data, categorical_train_data], axis=1)
X_test  = pd.concat([numeric_test_data,  categorical_test_data ], axis=1)

# 2) 타깃 지정 (실제 컬럼명으로 변경할 것)
y_train = train['Segment']

# 3) 학습/검증 셋 분리
X_tr, X_val, y_tr, y_val = train_test_split(
    X_train, y_train,
    test_size=0.2,
    random_state=42,
    stratify=y_train
)

# 4) LightGBM 데이터셋 생성
dtrain = lgb.Dataset(X_tr, label=y_tr)
dvalid = lgb.Dataset(X_val, label=y_val, reference=dtrain)

# 5) 하이퍼파라미터 설정
params = {
    'objective': 'binary',              # 이진분류
    'metric': ['auc', 'binary_logloss'],
    'boosting_type': 'gbdt',
    'learning_rate': 0.05,
    'num_leaves': 31,
    'max_depth': -1,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'seed': 42,
}

# 6) 모델 학습
gbm = lgb.train(
    params,
    dtrain,
    num_boost_round=1000,
    valid_sets=[dtrain, dvalid],
    valid_names=['train','valid'],
    early_stopping_rounds=50,
    verbose_eval=100
)

# 7) 테스트 데이터 예측
y_pred_proba = gbm.predict(X_test, num_iteration=gbm.best_iteration)
y_pred = (y_pred_proba > 0.5).astype(int)  # 임계치 0.5 기준 레이블 변환

# 8) 검증 셋 성능 확인
y_val_proba = gbm.predict(X_val, num_iteration=gbm.best_iteration)
print(f"Validation AUC: {roc_auc_score(y_val, y_val_proba):.4f}")
print(f"Validation Accuracy: {accuracy_score(y_val, (y_val_proba>0.5).astype(int)):.4f}")

# 9) Feature Importance 시각화
lgb.plot_importance(gbm, max_num_features=20, importance_type='gain')
plt.title("Feature Importance (Gain)")
plt.tight_layout()
plt.show()